body{
    margin:0px;
}
.text-center{
    text-align:center;
}

 /*Heading-part*/

#body-header{
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
    opacity:0.8;
    height:70vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/*Horizontal Lists*/

.horizontal-list{
    list-style: none;
    padding:0px;
    margin:0px;
}
.horizontal-list li{
    display: inline-block;
    margin: 0px 16px 8px 0px;
}
.horizontal-list li a{
    color:#fff;
    font-size: 1.5rem;
    text-decoration:none;
}
.nav-menu{
     transition: color 0.5s, border-bottom 4s;
     padding-top: 15px;
}
.nav-menu li a:hover{

    color:lightgrey;
    border-bottom: 1px solid white;

}

#my-name{
    color:#fff;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom:0.5 rem;
}
#name-social-container{
    margin-top: 190px;
}
.social-icons li a i{
    padding:10px;
    font-size: 1.8rem;
    border-radius: 50%;

}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230,196,196,0.3);
}

/*SECTION*/
section{
    display: flex;
    width:100%;
    height:auto;
    align-items:center;
    flex-direction: column;
}

section:nth-child(2n){
    background-color:#9e9b9b29;
}
section:nth-child(2n+1){
    background-color:white;
}
.mb75px{
    margin-bottom:75px;
}


/*ABOUT_SECTION*/
#about{
    height:auto;
    width:100%;
}
#dp{
    height:13rem;
    width:13rem;
    margin: auto;
    margin-top:-100px;
    position: relative;
    display: block;

}
#dp img{

    height:100%;
    width:100%;
    border:3px solid white;
    box-shadow:0px 0px 6px 3px lightgrey;
    border-radius: 50%;
}
#about p{
    width: 70%;
    margin: auto;
    font-size: 1.6rem;
    color:grey;
    text-align: justify;
    margin-top: 45px;
}
#abc{
    color:#2857a4;
}

.section-heading{
    padding:20px 10px 10px;
    width:auto;
    font-weight:400;
}
.section-heading span{
    font-size: 40px;
    padding:10px;
    color:#2857a4;
}

/*SKILLS SECTION*/
.skills-display{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.skills-progress{
   background-color:lightgrey;
   width:10rem;
   height:2.0rem;
   border-radius:1rem;
   margin:0px 20px 62px;
}
.skills-progress > div{
    border-radius: 20px 0px 0px 20px;
}
.skill-name{
    text-align: center;
    padding-top: 5px;
}
.skill-name span{
    color:white;
    font-size: 1rem;
    letter-spacing: 0.8px;
    line-height: 1px;
    font-weight:400;
}
.mb-Cplus{
    background-color: #7D7A43;
 }
 .mb-blue{
    background-color:blue;
}
.mb-red{
    background-color: #DE3838;
}
.mb-green{
    background-color: green;
}
.mb-3{
    background-color: #A9B341;
}
.mb-cyan{
    background-color:#8A3EC5;
}
.mb-python{
    background-color: green;
}
.mb-java{
    background-color:#5A0D0D;
}
 /*Percentage classes*/
 .eigthy-five-percent{
    width:85%;
    height: inherit;
 }
.eighty-percent{
    width:80%;
    height:inherit;
}
.seventy-percent{
    width:70%;
    height:inherit;
}
.seventy-five-percent{
    width:75%;
    height:inherit;
}
.sixty-percent{
    width:60%;
    height:inherit;
}
.sixty-five-percent{
    width:65%;
    height:inherit;
}

/*WORK_EXPERIENCE*/
.timeline{
    width: 70%;
    position: relative;
    margin-bottom: 50px;
}
/*TIMELINE_DIVIDER*/
.timeline-box:nth-child(2n+1)::after{
    content:'';
    position: absolute;
    border-radius: 50%;
    background-color: #D3D3D3;
    width: 0.8rem;
    height: 0.8rem;
    top: 39%;
    z-index: 1;
    left: 142%;
}
.timeline-box:nth-child(2n)::after{
    content:'';
    position: absolute;
    border-radius: 50%;
    background-color: #D3D3D3;
    width: 0.8rem;
    height: 0.8rem;
    top: 39%;
    z-index: 1;
    right: 134.7%;
}
.timeline-divider{
    position: absolute;
    border:3px dashed #AADCFD;
    top:10%;
    left: 50%;
    width: 0px;
    height: 75%;
}
.timeline-traveller{
    position: sticky;
    top:25%;
    transform:rotate(90deg); 
    z-index:2;
}
.timeline-box{
    position: relative;
    width: 35%;
    height: 200px;
}
.timeline-box-heading{
    margin-bottom: 35px;
}
.timeline-box-heading img{
    height: 40px;
    width: 40px;
    margin: 5px;
}
.timeline-box-content p{
    text-align: justify;
    color: #8080A1;
}
.timeline-box:nth-child(2n){
    position: relative;
    left:63%;
}
.abc{
    float:right;
    text-align: right;
    margin:0px 5px 0px 0px
    line-height:0px;
}
.abc p{
    margin:0px;
}
#design {
    color: #2857A4;
    font-size: 1.4rem;
    font-weight: 600;
    margin:0px 0px 4px 0px;
}
#company {
color: #EB822D;
font-size:1.1rem;
}
#duration {
color: #8080A1;
font-size:0.9rem;
}



/*PORT-FOLIO*/
.port-display{
    display: flex;
    flex-wrap:wrap;
}
.portfolio-img{
margin: 0px 20px;
position: relative;
}
.portfolio-img img{
height: 300px;  
width:auto;  
}
.mb32px{
    margin-bottom: 32px;
}
.portfolio-img:hover .details {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: grey;
    opacity:0.5;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.details{
    transform: scale(1.05,1.05);
    display: none;
}
.details h2 span{
    color:silver;
}

/*CONTACT_FORM*/
#contact{
    background:linear-gradient(to right top,#2857a4,#403066);
}
#contact-display{
    display: flex;  
    justify-content:space-between; 
    width:80%;
}
#contact-address{
    width:45%;
    color:white;
}
#contact-form input, textarea{
    display:block;
    padding:10px 2px;
    width:200%;
    border:none;
    background:transparent;
    border-bottom:2px solid white;
    margin-bottom: 12px;
    color:#fff;
}
#contact-form {
    width:20%;
}
#contact-form input,textarea:focus {
   outline: none;
}
.color-white span{
    color:#fff;
}

button[type="button"]{
    margin-top:12px;
    width:75%;
    height:45px;
    border-radius:4px;
    background:transparent;
    border:2px solid white;
    color:#fff;
}
#contact-address h3{

}
#contact-address h4,p{
     font-weight: normal;
    color: #cfcccc;
}

/*media_queries*/
@media (max-width: 600px){
    .timeline-box:nth-child(2n){
    position: none;
    left:0%;
}
body{
   
}
.timeline-box{
    width:100%;
    margin-bottom: 115px;
}
.timeline-divider{
    border:none;  
}
.timeline-traveller{
    display: none;
}
button[type="button"] {
    width:200%;
}
#contact-address h4, p {
    font-weight: normal;
    color: #cfcccc;
    overflow-wrap: break-word;
}
.timeline-box:nth-child(2n+1)::after {
    display: none;
}
.timeline-box:nth-child(2n)::after {
    display: none;
}
}

@media (max-width:450px){
#my-name {
    font-size:2.5rem;
}
.social-icons li a i {
    padding: 6px;
    font-size: 1.5rem;
}
.horizontal-list li a {
    font-size: 1.3rem;
}
.section-heading span {
    font-size: 36px;
    padding: 5px;
}
#about p{
    font-size: 1.4rem;
}
}